
.menuLink{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 1vw;

}

.menuLink:hover{
    color:rgb(22, 197, 197);
}

.menuLink:active{
    color: rgb(16, 156, 156);
}


/* ==========================================================================
   Mobile-Friendly Responsive Breakpoint (Phones and Tablets)
   ========================================================================== */
@media screen and (max-width: 884px) {

    .menuLink{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 0.8rem;

}
}